<row class="text-center">
    <div>
        <h2>This page is currently under construction...</h2>
        <img src="~/Content/Images/cone.png" style="margin: 10px auto; max-height: 300px; " />
        <p>Check back later for progress on this content!</p>
    </div>
</row>


