body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.img-intro {
    margin: 0 auto 16px auto;
}

.img-mcanswer {
    padding: 10px;
    border: 1px solid darkgrey;
    margin: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.intro-list > ul{
    margin-bottom: 24px;
}

.jumbo-logo {
    margin: auto;
    max-width: 70%;
}

@media (max-width: 767px) {
    .jumbo-logo {
        margin: auto;
        max-width: 90%
    }
}

.module-row{
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    padding: 0px;
}

.nav-img {
    max-height: 60px;
    padding: 15px;
    width: auto;
}

.navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 36px;
}
