@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ADbC</h1>
    <p class="lead">ADbC is a set of interactive software modules designed to support the teaching of database concepts.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Database Design</h2>
        <p>Learn about:</p>
        <ul>
            <li>Entity Relation Diagrams</li>
            <li>Designing databases from business scenarios</li>
            <li>Developing tables from diagrams</li>
            <li>Database design standards</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>SQL</h2>
        <p>Use interactive SQL 
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>