@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive jumbo-logo" src="~/Content/Images/Logos/adbcLogo.png" margin: auto"/>
</div>

<hr />

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <h2>Database Design</h2>
        <p>Learn about:</p>
        <ul>
            <li>Entity Relation Diagrams</li>
            <li>Designing databases from business scenarios</li>
            <li>Developing tables from diagrams</li>
            <li>Database design standards</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>SQL</h2>
        <p>Use interactive SQL to perform and analyze the steps of live data manipulation at your own pace!</p>
        <p>We'll also discuss query structure, stored procedure development, and concepts of referential integrity.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-2 col-md-4">
        <h2>Transactions</h2>
        <p>Discover proper transaction structure, concurrent operations, and more! Then learn about what to do when things go wrong, in our Recovery module.</p>
        <p>Once you've got it down, test your knowledge against our quizzes until you're an expert!</p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Ensure your data is safe, with methods like:</p>
        <ul>
            <li>Manipulation permissions</li>
            <li>Row level protections</li>
            <li>Injection prevention</li>
            <li>Malicious Inference</li>
        </ul>
    </div>
</div>