@model ADbC.Models.MCAnswer

<div class="modal modal fade" id="answer@(Model.RelativeAnswerID)" role="contentinfo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @{var result = @Model.Correct ? "Correct" : "Incorrect";}
                <h3>@result.ToString()</h3>
            </div>
            <div class="modal-body">
                <h4>@Model.ResponseText</h4>
            </div>
        </div>
    </div>
</div>
