@model ADbC.Models.ERMultipleChoiceModelDataContext

<div class="row">
    <h4>
        @Model.Question.DescriptionLong;
    </h4>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-5">
        <span>
            <img class="img-responsive" src="/Content/Images/Scenario To ER/@(Model.Question.DescriptionShort)/1.png" />
        </span>
    </div>
    <div class="col-md-5">
        <span>
            <img class="img-responsive" src="/Content/Images/Scenario To ER/@(Model.Question.DescriptionShort)/2.png" />
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-5">
        <span>
            <img class="img-responsive" src="/Content/Images/Scenario To ER/@(Model.Question.DescriptionShort)/3.png" />
        </span>
    </div>
    <div class="col-md-5">
        <span>
            <img class="img-responsive" src="/Content/Images/Scenario To ER/@(Model.Question.DescriptionShort)/4.png" />
        </span>
    </div>
</div>


