@model ADbC.Models.ERNotationModelDataContext

@{
    ViewBag.Title = "ER Notation";
    Layout = "~/Views/Shared/_Module.cshtml";
}
<div class="row" id="radioBox">
    <div class="col-md-offset-3 col-md-3 col-xs-6">
        <h3>Notation Style</h3>
        <hr />
        <!--From the model, loop through the Notation objs from the db and output radio buttons with name:notation; id:radios; value:DescriptionShort-->
        @foreach (ADbC.Models.ERNotation n in Model.NotationList)
        {
            <p>@Html.RadioButton("notation", n.DescriptionShort, new { id = "radios" }) @n.DescriptionLong</p>
        }
    </div>
    <div class="col-md-3 col-xs-6" ">
        <h3>Relationship Type</h3>
        <hr />
        <!--From the model, loop through the Relationship objs from the db and output radio buttons with name:relation; id:radios; value:DescriptionShort-->
        @foreach (ADbC.Models.ERRelationship r in Model.RelationshipList)
    {
        <p>@Html.RadioButton("relation", r.DescriptionShort, new { id = "radios" }) @r.DescriptionLong</p>
}
    </div>
</div>
<div class="row" style="min-height: 260px;">
    <div class="col-md-offset-3  col-md-6" id="output">
        <img id="diagram" class="img-responsive" style="visibility: hidden" />
    </div>
</div>
<!--This script watches for each radio button click, and when one from each list is selected, produces an immage in the diagram <img /> tag-->
<!--This combination of database generated content and javascript interaction provides dynamic construction and performance benefits as opposed
    to doing both elements with one or the other-->
<script src="/Scripts/ERNotationImageGenerator.js"></script>