@model ADbC.Models.ERMultipleChoiceModelDataContext

@{
    ViewBag.Title = "ScenarioToERView";
    Layout = "~/Views/Shared/_Module.cshtml";
}

<div>
    @{Html.RenderPartial("ERMultipleChoicePartialView", @Model);}
</div>

